<!-- extend base layout -->
{% extends "base.html" %} {% block content %}
<div class="well" style="margin-top:70px;margin-left:30px">
    {% include 'flash.html' %}
    <h3>Utilisateur non validées</h3>
    <div class="panel panel-primary" style="text-align: left">
        <!-- Default panel contents -->
        <div class="panel-heading">Liste des Utilisateur</div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom Utilisateur</th>
                    <th>Nom/Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>{{ user.description }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ url_for('validate_user', id=user.id) }}">
                            Valider
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{{ url_for('delete_user', id=user.id) }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}